body {
    font-family: 'Poppins', sans-serif;

}

/* section-1 */
.sec1-img {
    background-image: url(images/relief.jpg);
    height: 800px;
}

.fontsize1 {
    font-size: 4em;
}

.center-align {
    text-align: center;
    color: rgb(209, 245, 214);
}

.btn {
    text-decoration: none;
    background-color: rgb(4, 217, 255);
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    border-radius: 5px;
}

/* donate today */

#sec-2 {
    text-align: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.flexible {
    display: flex;
    justify-content: center;

}

.flexible h2 {
    padding: 15px 30px;
    text-align: center;

}

#border-box {
    border: 2px solid orangered;
    color: orangered;
    background-color: rgb(255, 222, 210);
}

/* section3 */
.flexible2 {
    display: flex;
    justify-content: center;

}

#sec-3 {
    text-align: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#div1 {
    background-color: rgb(172, 241, 241);
    padding: 30px;
    margin: 20px;


}

#div2 {
    background-color: rgb(248, 241, 245);
    padding: 30px;
    margin: 20px;
}

#div3 {
    background-color: rgb(240, 232, 220);
    padding: 30px;
    margin: 20px;
}

/* donates people */
.flex {
    display: flex;

}

#flex1 {
    background-color: rgb(222, 228, 216);
    padding: 20px;
    margin: 50px;
}

#flex2 {
    background-color: rgb(240, 236, 232);
    padding: 20px;
    margin: 50px;
}

#sec6 {
    text-align: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

/* get my updates */

#sec5 {
    text-align: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.btn2 {
    padding: 10px;
    background-color: rgb(233, 227, 224);
    color: white;
    border: none;
}

.btn3 {
    padding: 10px;
    background-color: orangered;
    color: white;
    border: none;
}

.btn4 {
    border: none;
    background-color: antiquewhite;
    padding: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

/* footer */
footer {
    background-color: black;
    color: red;
    text-align: center;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer h1 {
    font-family: 'Satisfy', cursive;
}

footer p {
    color: white;
}